copyright:
docs_dir: build/linkml-docs
nav:
  - Home: index.md
  - About: about.md
  - Schemas:
    - Foundational:
      - Things: s/things/v1/index.md
      - Things properties: s/things-properties/unreleased/index.md
      - Things spatial: s/things-spatial/unreleased/index.md
      - Things temporal: s/things-temporal/unreleased/index.md
      - Things distributions: s/things-distributions/unreleased/index.md
      - Things files: s/things-files/unreleased/index.md
      - Things publications: s/things-publications/unreleased/index.md
      - Types: s/types/v1/index.md
      - Identifiers (dev): s/identifiers/unreleased/index.md
      - Common mixin (dev): s/common-mixin/unreleased/index.md
      - Files mixin (dev): s/files-mixin/unreleased/index.md
      - Provenance mixin (dev): s/prov-mixin/unreleased/index.md
      - Publications mixin (dev): s/publications-mixin/unreleased/index.md
      - Quantities mixin (dev): s/quantities-mixin/unreleased/index.md
      - Relations mixin (dev): s/relations-mixin/unreleased/index.md
      - Resources mixin (dev): s/resources-mixin/unreleased/index.md
      - Social mixin (dev): s/social-mixin/unreleased/index.md
      - Spatial mixin (dev): s/spatial-mixin/unreleased/index.md
      - Study mixin (dev): s/study-mixin/unreleased/index.md
      - Temporal mixin (dev): s/temporal-mixin/unreleased/index.md
      - Versions mixin (dev): s/versions-mixin/unreleased/index.md
    - FLAT:
      - Base (dev): s/flat/unreleased/index.md
      - Social (dev): s/flat-social/unreleased/index.md
      - Provenance (dev): s/flat-prov/unreleased/index.md
      - Resources (dev): s/flat-resources/unreleased/index.md
      - Study (dev): s/flat-study/unreleased/index.md
      - Files (dev): s/flat-files/unreleased/index.md
      - Publications (dev): s/flat-publications/unreleased/index.md
    - Demonstrators:
      - Empirical data: s/demo-empirical-data/unreleased/index.md
      - Research assets: s/demo-research-assets/unreleased/index.md
      - RSE group: s/demo-rse-group/unreleased/index.md
    - Deprecated:

  - Dump-things storage: dump-things-storage-v0.md
  - Usage considerations: usage-considerations.md
plugins:
  - mermaid2
  #- panzoom:
  #    full_screen: True # default False
  - redirects:
      redirect_maps:
          # map unversioned URLs to the latest version
          'dump-things-storage.md': 'dump-things-storage-v0.md'
          's/things/index.md': 's/things/v1/index.md'
          's/things-properties/index.md': 's/things-properties/unreleased/index.md'
          's/things-spatial/index.md': 's/things-spatial/unreleased/index.md'
          's/things-temporal/index.md': 's/things-temporal/unreleased/index.md'
          's/things-distributions/index.md': 's/things-distributions/unreleased/index.md'
          's/things-files/index.md': 's/things-files/unreleased/index.md'
          's/things-publications/index.md': 's/things-publications/unreleased/index.md'
          's/types/index.md': 's/types/v1/index.md'
          's/identifiers/index.md': 's/identifiers/unreleased/index.md'
          's/temporal-mixin/index.md': 's/temporal-mixin/unreleased/index.md'
          's/flat-resources/index.md': 's/flat-resources/unreleased/index.md'
          's/publications-mixin/index.md': 's/publications-mixin/unreleased/index.md'
          's/flat-publications/index.md': 's/flat-publications/unreleased/index.md'
          's/flat/index.md': 's/flat/unreleased/index.md'
          's/flat-social/index.md': 's/flat-social/unreleased/index.md'
          's/flat-prov/index.md': 's/flat-prov/unreleased/index.md'
          's/social-mixin/index.md': 's/social-mixin/unreleased/index.md'
          's/common-mixin/index.md': 's/common-mixin/unreleased/index.md'
          's/relations-mixin/index.md': 's/relations-mixin/unreleased/index.md'
          's/resources-mixin/index.md': 's/resources-mixin/unreleased/index.md'
          's/prov-mixin/index.md': 's/prov-mixin/unreleased/index.md'
          's/versions-mixin/index.md': 's/versions-mixin/unreleased/index.md'
          's/study-mixin/index.md': 's/study-mixin/unreleased/index.md'
          's/flat-study/index.md': 's/flat-study/unreleased/index.md'
          's/quantities-mixin/index.md': 's/quantities-mixin/unreleased/index.md'
          's/files-mixin/index.md': 's/files-mixin/unreleased/index.md'
          's/flat-files/index.md': 's/flat-files/unreleased/index.md'
          's/demo-empirical-data/index.md': 's/demo-empirical-data/unreleased/index.md'
          's/demo-research-assets/index.md': 's/demo-research-assets/unreleased/index.md'
          's/demo-rse-group/index.md': 's/demo-rse-group/unreleased/index.md'
  - search
site_author: DataLad Team
site_description:
site_dir: build/mkdocs-site
site_name: DataLad Concepts
site_url: !ENV [SITEURL, 'https://concepts.datalad.org']
# false, because we have many doc files that are not mentioned in "nav"
strict: false
theme:
  name: material
  locale: en
