copyright:
docs_dir: build/linkml-docs
nav:
  - Home: index.md
  - About: about.md
  - Schemas:
    - Things: s/things/v1/index.md
    - Properties (dev): s/properties/unreleased/index.md
    - Identifiers (dev): s/identifiers/unreleased/index.md
    - Roles (dev): s/roles/unreleased/index.md
    - Spatial (dev): s/spatial/unreleased/index.md
    - Temporal (dev): s/temporal/unreleased/index.md
    - Provenance (dev): s/prov/unreleased/index.md
    - Distribution (dev): s/distribution/unreleased/index.md
    - DataLad dataset (dev): s/datalad-dataset/unreleased/index.md
    - Scientific data distribution (dev): s/sdd/unreleased/index.md
  - Dump-Things: dump-things.md
plugins:
  - mermaid2
  - redirects:
      redirect_maps:
          # map unversioned URLs to the latest version
          's/things/index.md': 's/things/v1/index.md'
          's/properties/index.md': 's/properties/unreleased/index.md'
          's/identifiers/index.md': 's/identifiers/unreleased/index.md'
          's/roles/index.md': 's/roles/unreleased/index.md'
          's/spatial/index.md': 's/spatial/unreleased/index.md'
          's/temporal/index.md': 's/temporal/unreleased/index.md'
          's/prov/index.md': 's/prov/unreleased/index.md'
          's/distribution/index.md': 's/distribution/unreleased/index.md'
          's/datalad-dataset/index.md': 's/datalad-dataset/unreleased/index.md'
          's/sdd/index.md': 's/sdd/unreleased/index.md'
  - search
site_author: DataLad Team
site_description:
site_dir: build/mkdocs-site
site_name: DataLad Concepts
site_url: !ENV [SITEURL, 'https://concepts.datalad.org']
# false, because we have many doc files that are not mentioned in "nav"
strict: false
theme:
  name: mkdocs
  locale: en
